<div class="container-fluide">
    {% if session_admin != NULL %}
        {% for article in articles %}
            <div class="row flex">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="/blog/public/post/{{ article.id }}">{{ article.titre }}</a>
                        {% for commentaire in commentaires %}
                            {% if commentaire.id_post == article.id %}
                                <div class="row flex">
                                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
                                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

                                        <p>par <span id="auteur">{{ commentaire.auteur }}</span> le {{ commentaire.date_modification }}</p>
                                        <p>{{ commentaire.message }}</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                        <button class="admin_img"><a href="/blog/public/admin/validerCommentaire/{{ commentaire.id_commentaire }}"><img src="/blog/views/Component/img/validation.png" alt="Valider ce commentaire"></a></button>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                        <button class="admin_img"><a href="/blog/public/admin/refuserCommentaire/{{ commentaire.id_commentaire }}"><img src="/blog/views/Component/img/refus.png" alt="Refuser ce commentaire"></a></button>
                                    </div>

                                </div>
                                <hr>

                            {% endif %}
                        {% endfor %}
                
                </div>
            </div>
        {% endfor %}







    {% else %}
        <h3>Vous n'êtes pas administrateur sur le site</h3>
        <br>
        <button><a href="/blog/public/">Accueil</a></button>
    {% endif %}  


</div>





{# 

    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="container-fluide">
                <div class="row flex">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        {% if session_admin != NULL %}
                            {% for article in articles %}
                                <a href="/blog/public/post/{{ param.id }}">{{ article.titre }}</a>

                                {% for commentaire in commentaires %}
                                    <p>par <span id="auteur">{{ commentaire.auteur }}</span> le {{ commentaire.date_modification }}</p>
                                    <p>{{ commentaire.message }}</p>
                                {% endfor %}

                            {% endfor %}
                        {% else %}
                            <h3>Vous n'êtes pas administrateur sur le site</h3>
                            <br>
                            <button><a href="/blog/public/">Accueil</a></button>
                        {% endif %}   
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                        <button><a href="/blog/public/validateCommentaire/"></a></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div> #}