<div class="container-fluide">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row flex center">
            <h2>Les articles récents</h2>
            <br><br>
            <br><br>
        </div>
    </div>

    {% for post in posts %}
        <div class="row flex">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p><span id="titre">{{ post.titre }}</span>
                {% if post.date_modification != post.date_creation %}
                    <span id="post_modifie">&emsp; Modifié le {{ post.date_modification }}</span>
                {% endif %}
                </p>

                <p>{{ post.chapo }}</p>
                {# <a id="lire_la_suite" href="/blog/public/post/[i:id]={{ post.id }}">Lire la suite</a> #}
                <a id="lire_la_suite" href="/blog/public/post/{{ post.id }}">Lire la suite</a>
                <p>par <span id="auteur">{{ post.auteur }}</span> le {{ post.date_creation }}</p>

                <br>

                <hr id="hr_post">

                <br>
                
                    

            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            
        </div>
    {% endfor %}
</div>



