<div class="container-fluide">
    <div class="row flex">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% for comment in comments %}
                <form action="/blog/public/admin/denyComment-confirm/{{ comment.id_commentaire }}-{{ comment.id_auteur }}" method="post">
                    <input type="hidden" name="token" value="{{session_token}}">
                    <h4>Etes-vous sûr de vouloir supprimer ce commentaire ?</h4>
                    
                    <br>
                    <br>

                    {# Comment display #}
                    <blockquote>
                        <p id="denyComment"><q> {{ comment.message }} </q></p>
                        <p class="autor">Par {{ comment.auteur }}</p>
                    </blockquote>

                    <br>
                    <br>

                    <label for="motif">Motif :</label>
                    <textarea id="motif" name="motif" cols="40" rows="5" wrap="soft" placeholder="Motif" required></textarea>

                    <button type="submit" name="envoyer">OUI</button>
                    <button type="button" name="retour" onclick="history.back()">NON</button>

                </form>
            {% endfor %}
            
            {% if result is defined %}
                <h3>{{ result }}</h3>
            {% endif %}
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        </div>
    </div>
</div>