<div class="container-fluide">
    {% for post in posts %}
        <div class="row flex center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="title">{{ post.titre }}</p>
                <br>
                {% if post.id_auteur == session_id %}
                    <a href="/blog/public/modify-post/{{ post.id }}">
                        <button>Modifier cet article</button>
                    </a><br><br>
                    <a href="/blog/public/delete-post/{{ post.id }}">
                        <button>Supprimer cet article</button>
                    </a>
                {% endif %}
            </div>
        </div>

        <br>
        <br>

        <div class="row flex">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p class="p_header">Rédigé le {{ post.date_creation }} par <span id="auteur">{{ post.auteur }}</span>
                {% if post.date_modification != post.date_creation %}
                    <span class="modify_post">&ensp; Modifié le {{ post.date_modification }}</span>
                {% endif %}</p>

                <br>
                {% set content = post.contenu|replace({'</p>': '', '<p>': '', '<br />': ''})|nl2br %}
                <p class="content">{{ content|raw }}</p>
                <br><hr>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            
        </div>

        {% if session_id != NULL %}
            <br><br><br><br>
            <div class="row flex">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h4>Laissez-nous votre avis sur cet article</h4>
                        <form action="/blog/public/add-comment/{{ post.id }}" method="post">
                            <input type="hidden" name="token" value="{{session_token}}">
                            <textarea name="commentaire" cols="100" rows="3" wrap="soft" required></textarea>
                            <br />
                        <button type="submit" name="envoyer">Publier</button>
                    </form>
                            

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            </div>
        {% endif %}

        <br>
        <br>

        <div class="row flex">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {% if comments is iterable %}
                    {% for comment in comments %}
                        <div class="comment">
                            <p class="p_header"><strong>{{ comment.auteur }}</strong> le {{ comment.date_creation }}
                            {% if comment.date_modification != comment.date_creation %}
                                <span class="modify_post">&ensp; Modifié le {{ comment.date_modification }}</span>
                            {% endif %}
                            </p>
                            <p class="comment_message">{{ comment.message }}</p>
                        
                            {# <br> #}
                            {% if comment.id_auteur == session_id %}
                                <ul id="comment_ul">
                                    <li class="comment_li"><a href="/blog/public/modify-comment/{{ post.id }}-{{ comment.id_commentaire }}">
                                        <button class="edit_btn">Modifier</button>
                                    </a></li>
                                    &emsp;
                                    <li class="comment_li"><a href="/blog/public/delete-comment/{{ post.id }}-{{ comment.id_commentaire }}">
                                        <button class="edit_btn">Supprimer</button>
                                    </a></li>
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}    

                {% else %}
                    {% if session_id != NULL %}
                        <p>{{ comments }}</p> 
                    {% endif %}
                {% endif %}
                <hr>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            
        </div>

    {% endfor %}
</div>

